html,
body {
  height: 100%;
  margin: 0;
}

.fondo{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1; 
}


.fondo-login{
    background-image: url("/assets/images/fondo-login-pventas.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.isologo{
    width: 100%;
    max-width: 300px;
}

